@model PPParkingLot.Models.Insert.EmployeeInsertViewModel

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemEntranceDate" class="control-label"></label>
                <input asp-for="SystemEntranceDate" class="form-control" />
                <span asp-validation-for="SystemEntranceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SystemExitDate" class="control-label"></label>
                <input asp-for="SystemExitDate" class="form-control" />
                <span asp-validation-for="SystemExitDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessLevel" class="control-label"></label>
                <input asp-for="AccessLevel" class="form-control" />
                <span asp-validation-for="AccessLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
