@{
    ViewData["Title"] = "Home Page";
}




    <div class="text-center">
        <h1 class="display-4">Welcome to SmartParking</h1>

        <p> Contact Ways:</p>
        <p>          </p>
        <p>Landline Number: +55 11 3687-3000</p>
        <p>Whatsapp Number: +55 11 99874-3245</p>
        <p>E-mail: smartparking@gmail.com</p>
        




    </div>
