
@{
    Layout = null;

}

<!DOCTYPE html>
<link href="~/css/Login.css" rel="stylesheet" />
<html>
<head>
    <link rel="icon" type="image/svg" href="~/css/Photos/IconeCar-removebg-preview.png">
    <meta name="viewport" content="width=device-width" />
    <title>Login - SmartParking</title>
</head>
<body>
    <link href="~/css/Login.css" rel="stylesheet" />
    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="Email" id="Email" placeholder="Email" required="required" />
            <span class="text-danger" id="EmailError" name="EmailError"></span>

            <input type="password" name="Password" id="Password" placeholder="Password" required="required" />
            <span class="text-danger" id="PasswordError" name="PasswordError"></span>

            @* <button type="submit" class="btn btn-primary btn-block btn-large" name="Send" id="Send" value="Send">Sign Up.</button>*@
            <input type="submit" class="btn btn-primary btn-block btn-large" name="Send" id="Send" value="Sign Up" />
        </form>
    </div>


    @section scripts{

        <script type="text/javascript">

            //Este evento será disparado quando todo o DOM (Document Object Model) for carregado.
            $(document).ready(function () {



                $("#Send").click(function (e) {

                    var success = true;
                    var email = $("#Email").val();
                    var password = $("#Password").val();



                    if (email == "") {
                        $("#EmailError").html("Email must be informed!");
                        success = false;
                    }
                    else {
                        $("#EmailError").html("");
                    }


                    if (password.length == 0) {
                        $("#PasswordError").html("Password must be informed!");
                        success = false;
                    }


                    if (!success) {
                        e.preventDefault();
                    }

                });
            });
        </script>
    }

</body>
</html>
