@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    SECTION 1 - WHAT DO WE DO WITH THIS INFORMATION?
    When you carry out a transaction with our store, as part of the buying and selling process, we collect the personal information you give us such as: name, email and address.

    When you access our website, we also automatically receive your computer's internet protocol, IP address, in order to obtain information that helps us learn about your browser and operating system.

    Email Marketing will only be carried out if you allow it. In these emails you can receive news about our store, new products and other updates.

    SECTION 2 - CONSENT
    How do you get my consent?

    When you provide personal information such as name, phone number and address, to complete: a transaction, check your credit card, place an order, arrange a delivery or return a purchase. After carrying out actions, we understand that you are in agreement with the collection of data to be used by our company.

    If we ask for your personal information for a secondary reason, such as marketing, we will ask you directly for your consent, or provide you with the opportunity to say no.

    And if you want to withdraw your consent, how do you proceed?

    If after you provide us with your data, you change your mind, you can withdraw your consent so that we can contact you, for the continuous collection of data, use or disclosure of your information, at any time, by contacting us at smartparking@gmail.com or by sending us a correspondence at: Smart Parking Rua Hermann Spernau, 60, Apartment 3095

    SECTION 3 - DISCLOSURE
    We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.


    SECTION 4 - THIRD PARTY SERVICES
    In general, the third party suppliers used by us will only collect, use and disclose your information as necessary to enable them to perform the services that they provide to us.

    However, certain third party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies with respect to the information that we are required to provide them with their purchase-related transactions.

    For these suppliers, we recommend that you read their privacy policies so that you can understand the way in which your personal information will be used by those suppliers.

    In particular, remember that certain suppliers may be located in or have facilities that are located in different jurisdictions than you or us. Thus, if you want to proceed with a transaction that involves the services of a third party service provider, then your information may become subject to the laws of the jurisdiction (s) in which the service provider or its facilities are located.

    As an example, if you are located in Canada and your transaction is processed by a payment gateway located in the United States, then your personal information used to complete that transaction may be subject to disclosure under United States law, including the Patriot Act .

    Once you leave our store's website or are redirected to a third party application or website, you will no longer be governed by this Privacy Policy or our website's Terms of Service.

    Links

    When you click on links on our store, they can direct you away from our website. We are not responsible for the privacy practices of other sites and encourage you to read their privacy statements.


    SECTION 5 - SECURITY
    To protect your personal information, we take reasonable precautions and follow industry best practices to make sure that it is not improperly lost, misused, accessed, disclosed, altered or destroyed.

    If you provide us with your credit card information, that information is encrypted using "secure socket layer" (SSL) technology and stored with AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional standards generally accepted by the industry.

    SECTION 6 - CHANGES TO THIS PRIVACY POLICY
    We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately after their publication on the website. If we make material changes to this policy, we will notify you here that they have been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and / or disclose it.

    If our store is acquired or merged with another company, your information may be transferred to new owners so that we can continue to sell products to you.
</p>
