
@{
    Layout = null;

}

<!DOCTYPE html>
<link href="~/css/Login.css" rel="stylesheet" />
<html>
<head>
    <link rel="icon" type="image/svg" href="~/css/Photos/IconeCar-removebg-preview.png">
    <meta name="viewport" content="width=device-width" />
    <title>Login - SmartParking</title>
</head>



<body style="background-image: url('../css/Photos/dark-car-vehicle-Nissan-Mercedes-Benz-Mercedes-Benz-E-Class-233198-wallhere.com.jpg');
background-repeat:no-repeat;
background-size:cover;
background-position:center;">

    <div class="login">
        <h1>Login</h1>
        <form method="post">
            <input type="text" name="Email" id="Email" placeholder="Email" required="required" />
            <span class="text-danger" id="EmailError" name="EmailError"></span>

            <input type="password" name="Password" id="Password" placeholder="Password" required="required" />
            <span class="text-danger" id="PasswordError" name="PasswordError"></span>

            <input type="submit" class="btn btn-primary btn-block btn-large" name="Send" id="Send" value="Sign Up" />
        </form>
    </div>

</body>
</html>
