@model PPParkingLot.Models.Insert.LocationInsertViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>LocationInsertViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EntryTime" class="control-label"></label>
                <input asp-for="EntryTime" class="form-control" />
                <span asp-validation-for="EntryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExitTime" class="control-label"></label>
                <input asp-for="ExitTime" class="form-control" />
                <span asp-validation-for="ExitTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayForm" class="control-label"></label>
                <input asp-for="PayForm" class="form-control" />
                <span asp-validation-for="PayForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vehicle" class="control-label"></label>
                <input asp-for="Vehicle" class="form-control" />
                <span asp-validation-for="Vehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleID" class="control-label"></label>
                <input asp-for="VehicleID" class="form-control" />
                <span asp-validation-for="VehicleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingSpot" class="control-label"></label>
                <input asp-for="ParkingSpot" class="form-control" />
                <span asp-validation-for="ParkingSpot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkingSpotID" class="control-label"></label>
                <input asp-for="ParkingSpotID" class="form-control" />
                <span asp-validation-for="ParkingSpotID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

